
<!DOCTYPE html>
<html lang="en">
<head>
    <title>&lt;model-viewer&gt; example</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/stylesheet.css">
    <link rel="stylesheet" href="/static/css/info-icon.css">

    <!-- The following libraries and polyfills are recommended to maximize browser support -->
    <!-- NOTE: you must adjust the paths as appropriate for your project -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- 💁 OPTIONAL: The :focus-visible polyfill removes the focus ring for some input types -->
    <script src="https://unpkg.com/focus-visible@5.0.2/dist/focus-visible.js" defer></script>
</head>

<body>
    <nav class="nav-wide-wrapper" aria-label="Page navigation">
        
        
    </nav>

    <main id="content">
        
        <!-- Main content goes here -->
        <div id="card">
            <!-- All you need to put beautiful, interactive 3D content on your site: -->
            <model-viewer id="transformer" src="/static/obj1/object1.glb" ios-src="/static/obj1/object1.usdz"
                poster="/static/obj1/object1.webp" alt="This is my masterpiece" shadow-intensity="1"
                camera-controls auto-rotate ar>
                <label for="neutral">Neutral Lighting: </label>
                <input id="neutral" type="checkbox" checked="true">
                <i id="info-icon" class="fas fa-info-circle" onclick="togglePopup()"></i>
                <div id="popup" class="popup">
                    <span class="close" onclick="togglePopup()">&times;</span>
                    <p>Body mass: 9.3g</p>
                    <p>Dimensions: 32 * 24 * 13mm</p>
                    <p>Feature: Yellowish brown with reddish dust</p>
                </div>
            </model-viewer>
            <button id="reset-button"><b><i>Reset</b></i></button>
            <section class="attribution">
                <span>
                    <h1>Object 1</h1>
                    <span>By <a href="https://lemorage.github.io/" target="_blank">Lemorage</a></span>
                </span>
                <! -- Change material base color -->
                <div class="controls" id="color-controls">
                    <img class="double-size red" src="/static/img/red.png" data-color="#e81416" alt="Red">
                    <img class="double-size orange" src="/static/img/orange.png" data-color="#ffa500" alt="Orange">
                    <img class="double-size yellow" src="/static/img/yellow.png" data-color="#faeb36" alt="Yellow">
                    <img class="double-size green " src="/static/img/green.png" data-color="#79c314" alt="Green">
                    <img class="double-size blue" src="/static/img/blue.png" data-color="#487de7" alt="Blue">
                    <img class="double-size indigo" src="/static/img/indigo.png" data-color="#4b369d" alt="Indigo">
                    <img class="double-size violet" src="/static/img/violet.png" data-color="#70369d" alt="Violet"> 
                </div>
                <a class="cc" href="https://creativecommons.org/licenses/by/2.0/" target="_blank">
                    <img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg">
                    <img src="https://mirrors.creativecommons.org/presskit/icons/by.svg">
                </a>
            </section>
        </div>

        <!-- Footer goes here -->
        <footer>
            <span class="small-text">It makes displaying 3D and AR content on the web easy ✌️</span>
            <div class="small-text"> Icons made by <a href="https://www.flaticon.com/authors/bharat-icons" title="Bharat Icons"> Bharat Icons </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            <span class="small-text">Powered by <a href='https://go.dev/'>Go</a> & <a href="https://github.com/GoogleWebComponents/model-viewer" target="_blank">&lt;model-viewer&gt;</a> web component</span>
            <span>&copy 2024 <a href='https://github.com/lemorage/sack'>Sack</a> by <a href="https://github.com/lemorage/">Lemorage</a><script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="lemorage" data-description="Support me on Buy me a coffee!" data-message="Thank you for supporting me!" data-color="#40DCA5" data-position="Right" data-x_margin="18" data-y_margin="18"></script></span>
        </footer>
        <script src="/static/js/neutral-lighting.js"></script>
        <script src="/static/js/color-control.js"></script>
        <script src="/static/js/popup-info.js"></script>
 
    </main>

    <!-- 💁 Include both scripts below to support all browsers! -->

    <!-- Loads <model-viewer> for modern browsers: -->
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script src="/static/js/page-nav.js"></script>
</body>
</html>
