{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>&lt;model-viewer&gt; example</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/stylesheet.css">
    <link rel="stylesheet" href="/static/css/info-icon.css">
    <link rel="stylesheet" href="/static/css/toolbox-icon.css">

    <!-- The following libraries and polyfills are recommended to maximize browser support -->
    <!-- NOTE: you must adjust the paths as appropriate for your project -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- 💁 OPTIONAL: The :focus-visible polyfill removes the focus ring for some input types -->
    <script src="https://unpkg.com/focus-visible@5.0.2/dist/focus-visible.js" defer></script>
</head>

<body>
    <nav class="nav-wide-wrapper" aria-label="Page navigation">
        {{if ne $.CurrentPage 1}}
        <a id="prev-model" rel="prev" href="/model{{sub $.CurrentPage}}" class="nav-chapters previous" title="Previous model" aria-label="Previous model" aria-keyshortcuts="Left">
            <i class="fa fa-angle-left"></i>
        </a>
        {{end}}
        {{if not (eq $.CurrentPage $.TotalPages)}}
        <a id="next-model" rel="next prefetch" href="/model{{add $.CurrentPage}}" class="nav-chapters next" title="Next model" aria-label="Next model" aria-keyshortcuts="Right">
            <i class="fa fa-angle-right"></i>
        </a>
        {{end}}
    </nav>

    <main id="content">
        {{template "main" .}} 
    </main>

    <!-- 💁 Include both scripts below to support all browsers! -->

    <!-- Loads <model-viewer> for modern browsers: -->
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script src="/static/js/page-nav.js"></script>
</body>
</html>
{{end}}
