body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#graph-container {
  flex: 3;
  width: 70%;
  height: 100vh;
  border-right: 1px solid #ccc;
}

.back-button {
  position: fixed;
  top: 13px;
  left: 15px;
  padding: 9px 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  transition: background-color 0.3s;
  z-index: 1000;
}

.back-button:hover {
  background-color: #45a049;
}

#message-tab {
  position: fixed;
  padding: 20px;
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
  overflow-y: auto;
  background-color: #f9f9f9;
  border-left: 1px solid #ccc;
  box-shadow: -2px 0 5px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

#message-tab h3 {
  text-align: center;
}

#message-tab.collapsed {
  transform: translateX(100%);
}

#toggle-arrow {
  position: fixed;
  padding: 15px 6px;
  right: 341px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 13px;
  color: #504747;
  background-color: #fff;
  border: 0 solid #ccc;
  box-sizing: border-box;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.19);
  display: block;
  opacity: 0;
}

#message-tab:hover + #toggle-arrow,
#toggle-arrow:hover {
  opacity: 0.42;
}

#message-tab.collapsed ~ #toggle-arrow {
  right: 0;
  opacity: 0.42;
}