#toolbox-icon {
  font-size: 27px;
  cursor: pointer;
  position: fixed;
  bottom: 4px;
  left: 5px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  display: none;
  position: fixed;
  align-items: flex-start;
  padding: 13px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
  cursor: pointer;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.popup .toolbox-close {
  position: absolute;
  top: 12px;
  left: 20px;
  cursor: pointer;
  z-index: 3;
}

.popup-content h3 {
  text-align: center;
  position: relative;
  padding: 0;
  margin: 0 0 20px 0;
  transform: translate(-20px);
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}